# Wallet 模块环境变量配置

# Signer 模块基础 URL (必需)
SIGNER_BASE_URL=http://localhost:3001

# 服务端口 (可选，默认为 3000)
PORT=3000

# Gateway Service URL
DATABASE_GATEWAY_URL=http://localhost:3003

WALLET_PRIVATE_KEY=

WALLET_DB_PATH=/Users/..../cex-wallet/db_gateway/wallet.db